html {
    background: black;
    color: white;
    margin-left: 50px;
}
input {
    background: black;
    color: white;
    border-color: white;
    border-radius: 5px;
    margin-right: 15px;
}
button {
    height: 25px;
    margin-right:15px;
    background: rgb(6, 0, 46);
    color: white;
    border-width: 0px;
    text-align: center;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 15px;
}
#heading {
    margin-left: -40px;
    font-size: 40px;
}
#description {
    margin-left: -40px;
}
a {
    color: blue;
}
a:visited {
    color:red;
}
a:hover {
    color: violet;
}
a:active {
    color: yellow;
}
